.login-page {
    .page-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #login-form {
        width: 35rem;
        text-align: left;

        .themed-input-wrapper {
            margin-top: 0.25rem;
            margin-bottom: 1.5rem;
        }

        #login-btn {
            border: 0;
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
            padding: 0.75rem 2rem 0.75rem 1.5rem;
            background-color: #000d;
            color: white;
            outline: none;

            svg {
                font-size: 1.5em;
                vertical-align: middle;
                transition: transform 0.3s ease-out;
            }

            &:hover {
                cursor: pointer;

                svg {
                    transform: translateX(50%);
                }
            }
        }

        .button-wrapper {
            text-align: right;
            margin-top: 2rem;
        }
    }
}
