@import "assets/css/Colors";

.home-page {
    .login-state {
        position: fixed;
        top: 0;
        right: 0;
        color: $text-color;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;

        &.logout-btn {
            cursor: pointer;
        }

        .login-text {
            color: inherit;
        }

        .login-icon {
            font-size: 1.5rem;
        }
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr #{"min(95ch, 100%)"} 1fr 1fr;
    }

    .search-form {
        grid-column: 3;
        grid-row: 2;
        width: 100%;
        margin-top: 3rem;
        position: relative;

        .search-term-label {
            display: block;
            font-size: 1.5em;
            margin-bottom: 0.5rem;
        }

        .search-term-wrapper {
            display: block;
            background-color: #ff9b00;
            padding: 0.4rem 0.3rem;
            border: 0.1rem solid #0004;
            box-shadow: 1px 1px #af4b00, 2px 2px #af4b00, 3px 3px #af4b00,
                4px 4px #af4b00, 5px 5px #af4b00;
            position: relative;

            &::before {
                content: ">";
                font-family: "Courier New";
                transform: translateY(-50%);
                margin: 0;
                font-size: 1rem;
                height: 1em;
                position: absolute;
                top: 50%;
                left: 1.5rem;
                line-height: 1em;
            }
        }

        .search-input {
            width: 100%;
            outline: none;
            background-color: black;
            color: #fff;
            box-sizing: border-box;
            border: 0.2rem solid #ffe000;
            padding: 0.5rem 2.5rem 0.5rem 2.5rem;
            font-family: "Courier New";
            font-weight: bold;
            font-size: 1rem;

            &::placeholder {
                color: #fff9;
            }
        }

        .search-button {
            background: transparent;
            position: absolute;
            border: 0;
            padding: 0;
            font-size: 1.5rem;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            height: 1em;
            overflow: hidden;
            outline: none;
            color: white;

            svg {
                vertical-align: baseline;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .results-info {
        grid-column: 2 / -2;
        grid-row: 3;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        display: block;
        position: relative;
        margin-top: 1rem;

        .results-input-wrapper {
            margin-left: 1rem;
        }

        @media screen and (min-width: 470px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .total-results {
            display: none;

            @media screen and (min-width: 470px) {
                display: block;
            }
        }

        .results-per-page {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;

            @media screen and (min-width: 460px) {
                justify-content: none;
            }
        }
    }

    .result-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        width: 100%;
        grid-column: 2 / -2;
        grid-row: 4;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @media screen and (min-width: 420px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 760px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .no-results {
            position: relative;
            grid-column: 1 / -1;
            text-align: center;
            max-width: 768px;
            margin: 0 auto;
        }

        .search-result {
            width: 100%;
            position: relative;
            aspect-ratio: 650 / 450;

            &:hover {
                cursor: pointer;
            }

            img,
            object {
                width: 100%;
            }

            a {
                display: block;
                height: 100%;
            }

            .no-flash {
                background: $middle-color;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                p {
                    color: #000000;
                }
            }

            .search-result-link {
                position: absolute;
                bottom: 0;
                right: 0;
                display: none;
                width: 1em;
                height: 1em;
                background-color: #0009;
                padding: 0.5em;
                font-size: 1.5rem;

                svg {
                    vertical-align: baseline;
                }
            }

            &:hover {
                .search-result-link {
                    display: inline-block;
                }
            }
        }
    }

    .sidebar {
        hr {
            background: #ffffff;
            border: 0;
            height: 1px;
        }

        .sidebar-text {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            margin: 0;
            font-size: 1rem;

            .tag-details {
                &[open] {
                    & > .tag-title > .tag-dropdown-icon {
                        transform: rotate(90deg);
                    }
                }
            }

            .tag-title {
                display: flex;
                align-items: center;
                padding-right: 2.5rem;

                .tag-add-btn,
                .tag-remove-btn {
                    font-size: 1.5rem;
                    position: absolute;
                    right: 0;
                    margin-right: 0.25rem;
                    display: none;
                    cursor: pointer;
                    opacity: 0.75;
                    transition: opacity 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }

                .tag-title_text {
                    margin-left: 1.5rem;
                    white-space: pre;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    transition: transform 0.15s ease-in-out;
                }

                &:hover {
                    cursor: pointer;
                    color: white;

                    .tag-title_text {
                        transform: translateX(0.5rem);
                    }

                    .tag-add-btn,
                    .tag-remove-btn {
                        display: block;
                    }
                }

                &.tag-title_summary {
                    .tag-dropdown-icon {
                        font-size: 1.5rem;
                        position: absolute;
                    }
                }
            }

            .sidebar-text {
                padding-left: 0.75rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    border-left: 1px solid rgba(90, 90, 90, 0.1);
                    transform: translateX(0rem) translateX(-50%);
                    height: 100%;
                }
            }

            li {
                position: relative;
                color: #c6c6c6;
                text-transform: capitalize;
            }

            details {
                summary {
                    list-style: none;
                    outline: none;
                    user-select: none;
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
