$background-color: #535353;
$middle-color: #c6c6c6;
$top-color: #eeeeee;
$text-color: #fff;
$link-color: #fff;
$link-hover-color: #5caedf;
$shadow-color: #000;
$extended-shadow: 1px 1px $shadow-color, 2px 2px $shadow-color,
    3px 3px $shadow-color, 4px 4px $shadow-color, 5px 5px $shadow-color;
