@import "assets/css/Colors";

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;

    .page-content {
        margin: 0 auto;
        padding: 1rem 2rem 2rem 2rem;
        box-sizing: border-box;
        width: 100%;
        flex-grow: 1;
        position: relative;
    }

    .system,
    .user {
        display: none;
    }
}
