@import "Colors";

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($shadow-color, 0.75);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;

    img {
        max-height: 100%;
        max-width: 100%;
    }

    &.visible {
        display: flex;
    }

    .lightbox-btn-clear {
        background: transparent;
        color: $text-color;
        outline: none;
        padding: 0;
        height: 1em;
        border: 0;
        line-height: 1em;
        font-size: 2rem;

        svg {
            vertical-align: baseline;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .lightbox-left {
        font-size: 3rem;
        margin: 1rem;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateX(-5px);
        }

        &[disabled] {
            color: #909090;

            &:hover {
                cursor: auto;
                transform: none;
            }
        }
    }

    .lightbox-right {
        font-size: 3rem;
        margin: 1rem;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateX(5px);
        }

        &[disabled] {
            color: #909090;

            &:hover {
                cursor: auto;
                transform: none;
            }
        }
    }
    
    .lightbox-close {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1rem;
    }
}
